
target/
*.class
*.jar
*.war
*.ear


.mvn/
!**/src/main/**
!**/src/test/**
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.gradle/
build/
!gradle-wrapper.jar
.gradle-cache/
**/build/

*.log
logs/

.idea/
*.iml
*.ipr
*.iws
.vscode/
*.classpath
*.project
*.settings/
*.launch

.DS_Store
Thumbs.db

node_modules/
.next/
out/  # static export dir
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

package-lock.json
yarn.lock
pnpm-lock.yaml

coverage/
dist/
